---
import ButtonLink from '@/components/ButtonLink.astro';
---

<header>
  <div class="flex items-center justify-between pb-4">
    <nav class="ml-auto space-x-2">
      <ButtonLink variant="ghost" size="sm" href="/">Home</ButtonLink>
      <ButtonLink variant="ghost" size="sm" href="/posts">Blog</ButtonLink>
      <ButtonLink variant="ghost" size="sm" href="/about">About</ButtonLink>
      <ButtonLink variant="ghost" size="sm" href="/privacy"
        >Privacy Policy</ButtonLink
      >
    </nav>
  </div>
</header>
